.Register {
  display: flex;
  height: 200px;
  flex-direction: column;
  width: 200px;
  background-color: rgb(189, 0, 214);

  justify-content: space-around;
  align-self: center;
  align-items: center;
}
